<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>{{test}}</h1>
		<form action="/post" method="post">
			<p>batch : <input type="text" name="batch"></p>

			<p>train_epch : <input type="text" name="train_epch"></p>

			<p>param_conv : <input type="text" name="param_conv"></p>

			<p>conv_active : <input type="text" name="conv_active"></p>

			<p>pooling : <input type="text" name="pooling"></p>

			<p>param_dense : <input type="text" name="param_dense"></p>
			<input type="submit" value="정보 넘기기">
		</form>
	</body>
</html>
